:root {
    --font-display: 'Syncopate', sans-serif;                
    --font-heading: 'VT323', monospace;                         
    --font-body: 'Roboto Mono', monospace;                     
    --font-ui: 'Roboto Mono', monospace;                      
    --font-mono: 'Roboto Mono', monospace;                   

    --bg-color: #e3edfb;                                        /* background color */
    --bg-color-rgb: 240, 239, 230;   

    --surface-color: #d1e4f9ec;                                 
    --text-color: #2E2E2E;                                     
    --text-heading-color: #1A1A1A;                             
    --accent-color: #4f4f4f;             
    --HERO-C:#c1daf6;                     
    --accent-rgb: 255, 69, 0;                                     
    --accent-hover-color: #257dd2;                            
    --border-color: rgba(46, 46, 46, 0.15);                    
    --glow-color: #257dd2;                       
    --shadow-color: rgba(0, 0, 0, 0.1);                         
    --scanline-color: rgba(0, 0, 0, 0.02);                     

    --navbar-height: 60px;                                          
    --transition-main: 0.3s cubic-bezier(0.4, 0, 0.2, 1);            
}

[data-theme="dark-terminal"] {
    --bg-color: #3d3d3d;
    --bg-color-rgb: 10, 10, 10;
    
    --surface-color: #4e6075;
    --text-color: #dedede;
    --text-heading-color: #e3e1e1;
    --accent-color: #c1daf6;                                    
    --accent-rgb: 0, 207, 69;
    --accent-hover-color: #257dd2;
    --border-color: rgba(46, 46, 46, 0.15);                    
    --glow-color: #257dd2;                       
    --shadow-color: rgba(0, 0, 0, 0.1);                         
    --scanline-color: rgba(0, 0, 0, 0.02);   
}
